.question {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    &Btns {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
}